@keyframes moveRight {
  0% {
    right: 100px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    top: 100px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

header,
main {
  position: relative;
  animation: moveRight 0.4s linear 0.3s backwards;
}

main {
  animation-delay: 0.5s;
}
